html, body { margin:0, padding:0; }
button { background:transparent; padding:0; border:none;}

.demo1, .demo2, .demo3, .demo4 {
  position:relative;
  height:700px;
  width:100%;
}
h2 {
  position:absolute;
  top:20px;
  left:20px;
  display:inline-block;
  font-size:19px;
  background:rgba(0,0,0,0.1);
  border-radius:3px;
  color:#fff;
  font-weight:bold;
  letter-spacing:1px;
  z-index:10;
  padding:10px 20px;
  margin:0;
}
small {
  font-size:14px;
}
.left, .right {
  position:relative;
  width:50%;
  height:100%;
  float:left;
}
.demo1 .left {
  background:#fdd030;
}
.demo1 .right {
  background:#8fc238;
}
.demo2 .left {
  background:#f77049;
}
.demo2 .right {
  background:#e55937;
}
.demo3 .left {
  background:#ab90f3;
}
.demo3 .right {
  background:#9478e3;
}
.demo4 .left {
  background:#e887c4;
}
.demo4 .right {
  background:#d370b1;
}
.thumbnail {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:400px;
  height:500px;
  background:#eee;
}
.controller {
  position:absolute;
  bottom:0;
  padding:20px;
}
.controller button {
  float:left;
  background:#e6e9ed;
  cursor:pointer;
}
.controller button span {
  position:absolute;
  bottom:0;
  left:0;
  display:block;
  width:100%;
  height:20px;
  z-index:1;
  color:#fff;
}
.controller button.landscape {
  width:150px;
  height:100px;
  margin-right:20px;
}

.controller button.portrait {
  width:100px;
  height:150px;
  margin-right:20px;
}
